footer {
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.social {
  display: flex;
  gap: 20px;
}

.fbicon {
  color: white;
}

.fb {
  font-size: 30px;
}

.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 0px;
}

.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
}

.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}

.center {
  margin-left: 20px;
}

footer {
  bottom: 0px;
  background: var(--background-one);
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  background: var(--background-three);
}

.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  background: var(--background-three);
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #000;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: var(--background-three);
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #000;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: var(--background-three);
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;

}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;

}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 390px;
  font-size: 1.0625rem;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: var(--background-three);
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form button {
  height: 40px;
  width: 400px;
  border: none;
  outline: none;
  background-color: var(--background-two);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.right form .btn button:hover {
  background: var(--background-three);
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: var(--background-three);
}

.bottom center span {
  color: var(--background-one)
}

.bottom center a {
  color: #000;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

.send {
  color: var(--background-one);
}

.lineneed {
  border-bottom: 3px solid var(--background-two);
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .right form input,
  .right form textarea {
    width: 360px;
  }

  .right form button {
    height: 40px;
    width: 370px;
  }

  .center {
    margin-left: 5px;
  }
}

@media screen and (max-width: 450px) {

  .right form input,
  .right form textarea {
    width: 270px;
  }

  .right form button {
    height: 40px;
    width: 280px;
  }
}
.send {
 
  transition: all 0.3s;
}

.send.sent {
  background-color: white;
  cursor: default;
}
