.firstbg {
    padding-top : 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--back-groundlanding);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-bottom: 10px solid #8E5B45;
    padding-bottom: 125px;
  }
  
  .mrg {
    color: #000;
    text-align: center;
    font-size: 55px;
    padding-bottom: 110px;
    font-family: 'Caprasimo', cursive;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .hrg {
    padding-bottom: 110px;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .button {
    width: 241px;
    height: 68px;
    border-radius: 50px;
    background: var(--background-three);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Add transition property */
  }
  
  .button-content {
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-size: 12.5px;
    font-family: Inter;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    transform: scale(1.10);
  z-index: 1;        
  }
  